 .u-section-1 {
  min-height: 1858px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 433px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 646px;
  min-height: 250px;
  margin: 54px auto 0 484px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: "Alex Brush";
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 8px;
  font-weight: 700;
  margin: 7px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1425px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 69px auto 0 30px;
}

.u-section-1 .u-text-4 {
  margin: 20px 30px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 29px auto 0 30px;
}

.u-section-1 .u-text-6 {
  margin: 14px auto 0 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 43px auto 0 26px;
}

.u-section-1 .u-text-8 {
  margin: 14px auto 0 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 2006px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 13px auto 0 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 26px auto 0 30px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 13px 3px 0 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 616px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 45px;
    margin-left: 334px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1175px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1654px;
  }

  .u-section-1 .u-text-12 {
    margin-right: -131px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 150px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 539px;
    margin-top: 0;
    margin-left: 221px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 250px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
    margin-top: 195px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 320px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}